body {
    background-color: #171717;
}
h1 {
    color: #EFEFEF;
}
p {
    border: 1px solid #4F4F4F;
    border-radius: 6px;
    color: #EFEFEF;
}
a {
    border: 1px solid #4F4F4F;
    border-radius: 6px;
    color: #EF55EF;
}
